.container {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  max-width: 100%;
  text-align: left;
}

.text h1 {
  font-size: 20px;
  font-weight: bold;
  color: #016e01;
}

.text h2 {
  font-size: 14px;
  color: #191919;
}

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #016e01;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #014d01;
}

.buttonIcon {
  width: 20px;
  height: auto;
  color: #ffffff;
}

.buttonText {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.heroImg {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (min-width: 600px) {
  .content {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .text {
    max-width: 60%;
  }

  .heroImg {
    max-width: 40%;
  }

  .text h1 {
    font-size: 24px;
  }

  .text h2 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .text h1 {
    font-size: 28px;
  }

  .text h2 {
    font-size: 18px;
  }

  .text {
    max-width: 50%;
  }

  .heroImg {
    max-width: 50%;
  }
}

@media (min-width: 1440px) {
  .text h1 {
    font-size: 32px;
  }

  .text h2 {
    font-size: 20px;
  }

  .content {
    gap: 40px;
  }

  .text {
    max-width: 45%;
  }

  .heroImg {
    max-width: 45%;
  }
}
