.wrapper {
  padding: 40px 120px;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 60px;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.headerText h1 {
  font-size: 40px;
  font-weight: bold;
  color: #016e01;
}

.headerText h2 {
  font-size: 24px;
  color: #191919;
}

.buttonText {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.testiContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
}

.testiCard {
  display: flex;
  gap: 20px;
}

.testiImg {
  width: 400px;
  height: 275px;
  border-radius: 20px;
  overflow: hidden;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 34px;
  color: #016e01;
}
